components:
  parameters:
    SearchQueryMylistAllow:
      description: マイリスト追加済みかを取得する0/1 (デフォルト1)
      in: query
      name: with_mylisted
      required: false
      schema:
        default: 1
        enum:
        - 1
        - 0
        example: 1
        format: int32
        maximum: 1
        minimum: 0
        type: integer
    SearchQueryMylistDeny:
      description: マイリスト追加済みかを取得する0/1 (デフォルト0)
      in: query
      name: with_mylisted
      schema:
        default: 0
        enum:
        - 0
        - 1
        example: 0
        maximum: 1
        minimum: 0
        type: integer
    SearchQueryOrder:
      description: ソート方向 d:降順(大→小) a:昇順(小→大)
      in: query
      name: order
      required: false
      schema:
        default: d
        enum:
        - d
        - a
        example: d
        maxLength: 1
        minLength: 1
        type: string
    SearchQueryPage:
      description: 'ページ番号 (NOTE: 1ページ辺りの応答は20件)'
      in: query
      name: page
      required: false
      schema:
        minimum: 1
        type: integer
    SearchQueryPerPage:
      description: 1ページ辺りの要素数
      in: query
      name: per_page
      required: false
      schema:
        default: 20
        enum:
        - 20
        - 40
        - 60
        - 80
        - 100
        example: 20
        maximum: 100
        minimum: 20
        type: integer
    SearchQuerySort:
      description: ソート方法 l:いいね数順 d:投稿日順
      in: query
      name: sort
      required: false
      schema:
        default: d
        enum:
        - l
        - d
        example: d
        type: string
    SearchQuerySortCatalog:
      description: ソート方法 c:ヒット数 d:最終更新 l:いいね数 n:名前
      in: query
      name: sort
      schema:
        default: d
        enum:
        - c
        - d
        - l
        - n
        example: d
        type: string
  schemas:
    GetNavigationGeneralResponse:
      description: ナビゲーション用情報一覧の汎用応答構造体
      properties:
        navigations:
          items:
            $ref: '#/components/schemas/NavigationStruct'
          minItems: 1
          type: array
          uniqueItems: true
      title: GetNavigationGeneralResponse
      type: object
      x-examples:
        example-artist:
          navigations:
          - count: 1
            id: 1
            name: 彩電
        example-character:
          navigations:
          - count: 1
            id: 1
            name: 香風智乃
        example-copyright:
          navigations:
          - count: 1
            id: 1
            name: ご注文はうさぎですか?
        example-general:
          navigations:
          - count: 1
            id: 1
            name: ロリ
        example-uploader:
          navigations:
          - count: 1
            id: 1
            name: お窓
    NavigationStruct:
      description: サイト内上部ナビゲーション情報の構造体(読み取り専用)
      properties:
        count:
          example: 1204
          minimum: 1
          type: integer
        id:
          example: 1
          minimum: 1
          type: integer
        name:
          example: 香風智乃
          maxLength: 50
          minLength: 1
          type: string
      required:
      - name
      - id
      - count
      title: NavigationStruct
      type: object
      x-examples:
        example:
          count: 1204
          id: 1
          name: 香風智乃
  securitySchemes:
    Authorization:
      scheme: bearer
      type: http
info:
  contact:
    email: dsgamer777@gmail.com
    name: Omado
    url: https://twitter.com/shallow_omado
  description: Navigations related api (optional)
  license:
    name: AGPLv3
    url: https://www.gnu.org/licenses/agpl-3.0.ja.html
  title: UsagiBooru Navigations API
  version: '2.0'
openapi: 3.0.0
paths:
  /navigations/artists:
    get:
      description: 'イラスト数の多い絵師上位5件を取得します

        サイト内上部 ナビゲーションメニューで使用しています'
      operationId: getArtistNavigation
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/GetNavigationGeneralResponse'
          description: 応答のdataに配列で返却されます
      summary: Get artist navigation tab (for site)
      tags:
      - navigations
  /navigations/characters:
    get:
      description: 'イラスト数の多いキャラクター上位5件を取得します

        サイト内上部 ナビゲーションメニューで使用しています'
      operationId: getCharacterNavigation
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/GetNavigationGeneralResponse'
          description: 応答のdataに配列で返却されます
      summary: Get character navigation tab (for site)
      tags:
      - navigations
  /navigations/tags:
    get:
      description: 'イラスト数の多いタグ上位5件を取得します

        サイト内上部 ナビゲーションメニューで使用しています'
      operationId: getTagNavigation
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/GetNavigationGeneralResponse'
          description: 応答のdataに配列で返却されます
      summary: Get tag navigation tab (for site)
      tags:
      - navigations
  /navigations/uploaders:
    get:
      description: 'イラスト数の多い投稿者上位5件を取得します

        サイト内上部 ナビゲーションメニューで使用しています'
      operationId: getUploaderNavigation
      responses:
        '200':
          content:
            application/json:
              examples: {}
              schema:
                $ref: '#/components/schemas/GetNavigationGeneralResponse'
          description: 応答のdataに配列で返却されます
      summary: Get uploader navigation tab (for site)
      tags:
      - navigations
security:
- Authorization: []
servers:
- description: Prod
  url: https://api.gochiusa.team
- description: Staging
  url: https://api-next.gochiusa.team
- description: Dev
  url: http://127.0.0.1:8080
tags:
- name: navigations
